{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/index.css">
    <style>
        .main-div {
            margin: auto;
            width: 80%;
        }
    </style>
{% endblock %}

{% block content %}
    <br>
    <div class="container page-top">
        <h1>About</h1>
    </div>
    <br>
    <div class="container">
        <p>This is an initial version of the TCR-BARN website,
            developed by Devora Siminovsky and Yuli Tshuva</b></a> at the
            <a href="https://yolo.math.biu.ac.il/">YOLO Lab</a>.
        </p>
        <br>
        <!-- <p>
            Our online bedside tool offers a prediction model to determine which women, presenting with suspected preterm labor in the obstetric emergency room, are likely to deliver within 2 days, 7 days, or before 34 weeks, based on clinical parameters known at admission.
        </p>
        <p>
            This tool utilizes the 10 most important predictive features available at the time of admission, and it calculates the absolute risk for delivery within 2 days, delivery within 7 days, and delivery before 34 weeks (expressed in %).
        </p>
        <p>
            Our calculator is designed to assist physicians upon a patient's admission with suspected preterm labor, aiding in decisions regarding hospitalization and the administration of antenatal treatments like steroids for fetal lung maturity or magnesium sulfate for fetal neuroprotection.
        </p> -->
    </div>
{% endblock %}

