{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/index.css">
    <style>
        .main-div {
            margin: auto;
            width: 80%;
        }
    </style>
{% endblock %}

{% block content %}
    <br>
    <div class="container page-top">
        <h1>About</h1>
    </div>
    <br>
    <div class="container">
        <p>TCR-BARN is a predictor of T Cell Receptor Alpha and Beta Chains.
        </p>
        <p>The code for the prediction is available at <a href="https://github.com/louzounlab/Alpha_Beta_pairing">GITHUB</a>.
        </p>
            <p>The input to TCR barn are the V and J genes and the CDR3 of the TCR alpha and beta chains.
        </p>
            <p>The output is a binding score, as well the percentile of the score in the test set.
        </p>
        <br>
        <p>The CDR3 alpha and beta are given as a sequence of Amino Acids (See examples).
        </p>
        <p>The V and J genes are given as TRAV or TRAJ and a number for alpha.
        </p>
        <p>In beta (given the J gene structure) it is TRBV or TRBJ followed by gene-cassete (see example).
        </p>
        <br>
        <p>The TCR-BARN website was developed by Devora Siminovsky and Yuli Tshuva at the
            <a href="https://yolo.math.biu.ac.il/">YOLO Lab</a>.
        </p>
        <br>
    </div>
{% endblock %}

