{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/index.css">
    <style>
        .main-div {
            margin: auto;
            width: 80%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container page-top">
        <br>
        <h1>Example</h1>
    </div>
    <br>
    <div class="container">
        <p>Here are examples of values to predict the binding probability for a given TCR alpha and beta sequence:
        <p>Alpha chain:</p>
        <p>CDR3 sequence - CAVRDGGFGNVLHC</p>
        <p>V Jene - TRAV03</p>
        <p>J Jene - TRAJ35</p>
        <p>Beta chain:</p>
        <p>CDR3 sequence - CASSYDNGGNTGELFF</p>
        <p>V Jene - TRBV06</p>
        <p>J Jene - TRBJ02-2</p>
    </div>
{% endblock %}

